@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-Regular.woff2'), format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-Medium.woff2'), format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-SemiBold.woff2'), format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-Bold.woff2'), format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

