body {
    box-sizing: border-box;
    font-family: 'TTCommons';
    font-weight: 700;
    font-size:  16px;
    color: white;
}

// a,
// button,
// input,
// textarea,
// svg * {
    
//     transition-duration: var(--transition-duraction);
// }

a {
    text-decoration: none;
    color: inherit;
}

