@use '../../Shared/style/media' as m;

.nav{
    &__list{
        display: flex;  
        column-gap: 3.125rem;

        @include m.tablet{
            column-gap: 0.5rem;
        }
    }

    &__item{
        position: relative;
        flex-shrink: 0;
        padding: 0.625em;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        color: #7B7E86;
        transition: color 0.5s;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 0.125rem;
            bottom: 0;
            left: 0;
            background-color: #2296DF;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        &--active,
        &:hover{
            color: rgb(255, 255, 255);

            &::before {
                transform: scaleX(1);
            }
        }
    }
}

.logo{
    img{
        width: 11.25rem;
        height: 2.5rem;
    }
}

.right-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 3.125rem;

    @include m.tablet{
        column-gap: 0.5rem;
    }
}

.search{
    display: block;
    width: 2.1875rem;
    height: 2.25rem;
    background-image: url('./assets/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // transform: scale(1.5);
}

.registration{
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
    color: #A7A7A7;
    text-transform: uppercase;

    &::before{
        content: '';
        flex-shrink: 0;
        display: block;
        width: 2.1875rem;
        height: 2.1875rem;
        background-image: url('./assets/user-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}